p {text-align: center;}
th, td{
    background-color: #f0ccf6
}
table th {
    background-color: #eaf69d59;
    font-weight: bold;
  }
  table tr:nth-child(odd) {
    background-color: #f69de1c9;
  }